body {
    background-color: white;
}

div.content {
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    text-align: center;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
}
div.smalltext {
    font-size: 14px;
}

.invisible {
    display: none;
}

section {
    background-color: lightgrey;
    width: 100%;
    border-radius: 1rem;
    padding: 0.75rem 1.25rem;
}

div.box {
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    padding: 0.75rem 0rem;
    margin-top: 10px;
}
div.highlighted {
    background-color: #FFA300;
}

h1, h2 {
    font-family: Georgia, serif;
}

h1.main {
    text-align: center;
    font-size: 98px;
    margin-bottom: 0px;
}
h1.sub {
    text-align: center;
    font-size: 58px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFA300;
}
h2 {
    font-size: 46px;
    margin-bottom: 0px;
}
h2.sub {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: black;
    text-decoration-style: dashed;
}
a:hover {
    color: #FFA300;
}
a.button {
    text-decoration: none;
    font-size: 18px;
}
a.button:hover {
    color: white;
}

span {
    white-space: nowrap;
}

button {
    display: inline-block;
    padding: 0.75rem;
    border-radius: 1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
}
button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFA300;
    border-radius: 1rem;
    z-index: -2;
}
button.selected:after {
    background-color: #FFEC27;
}
button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008751;
    transition: all 0.3s;
    border-radius: 1rem;
    z-index: -1;
}
button:hover {
    color: #fff;
}
button:hover:before {
    width: 100%;
}
button.small {
    font-size: 18px;
    width: 154px;
    white-space: pre-line;
}
button.long {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}
button.lang {
    font-size: 12px;
    width: 80px;
    padding: 0.3rem;
}
input {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}
input.required::placeholder {
    color: lightcoral;
}
select {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}
textarea {
    font-size: 18px;
    width: 100%;
    height: 130px;
    font-family: Helvetica, sans-serif;
    resize: none;
}

img.downscale {
    width: 100%;
    height: 100%;
}

li {
    text-align: left;
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
}

ul {
    list-style-type: none;
    padding: 0rem 1.25rem;
    margin: 0px;
}

.justify {
    text-align: justify;
}

.video-preview {
    width: 192px;
    height: 108px;
    display: inline-block;
    position: relative;
}

.overlay {
    width: 192px;
    height: 80px;
    position: absolute;
    font-size: 45px;
    text-align: center;
    padding-top: 28px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 255, 255, 0.4);
  }

.video-preview:hover .overlay {
    opacity: 1;
}

div.contact {
    font-family: Helvetica, sans-serif;
    padding-top: 8px;
    text-align: left;
    font-size: 14px;
}

.column {
    float: left;
    width: 31.2%;
    padding: 0.5em
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
