div.allcontent {
    background-color: white;
    text-align: center;
}

div.content {
    max-width: 1040px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin: auto;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
}
div.smalltext {
    font-size: 14px;
}

.invisible {
    display: none;
}

section {
    background-color: lightgrey;
    border-radius: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

div.box {
    background-color: white;
    border-radius: 0.5vw;
    margin: 0.5vw;
}
div.highlighted {
    background-color: #FFA300;
}

h1, h2 {
    font-family: Georgia, serif;
}

h1.main {
    text-align: center;
    font-size: 8vw;
    margin-bottom: 0vw;
}
h1.sub {
    text-align: center;
    font-size: 4vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    color: #FFA300;
}
h2 {
    font-size: 46px;
    margin-bottom: 0vw;
}
h2.sub {
    font-size: 22px;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

a {
    color: black;
    text-decoration-style: dashed;
}
a:hover {
    color: #FFA300;
}
a.button {
    text-decoration: none;
    font-size: 18px;
}
a.button:hover {
    color: white;
}

button {
    font-size: 18px;
    display: inline-block;
    padding: 0.75rem;
    border-radius: 1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0.4vw;
    border: none;
    cursor: pointer;
}
button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFA300;
    border-radius: 1rem;
    z-index: -2;
}
button.selected:after {
    background-color: #FFEC27;
}
button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008751;
    transition: all 0.3s;
    border-radius: 1rem;
    z-index: -1;
}
button:hover {
    color: #fff;
}
button:hover:before {
    width: 100%;
}
button.small {
    width: 152px;
    white-space: pre-line;
}
button.long {
    width: 100%;
    margin-bottom: 0.5vw;
}
button.lang {
    font-size: 12px;
    width: 80px;
    padding: 0.3rem;
}
select, input {
    font-size: 18px;
    width: 100%;
    margin-bottom: 0.5vw;
}
input.required::placeholder {
    color: lightcoral;
}
textarea {
    font-size: 18px;
    width: 100%;
    height: 130px;
    font-family: Helvetica, sans-serif;
    resize: none;
}

img.downscale {
    width: 100%;
    height: 100%;
}

li {
    text-align: left;
    font-size: 18px;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}

ul {
    list-style-type: none;
    padding: 0rem 1vw;
    margin: 0px;
}

.justify {
    text-align: justify;
    padding: 0.5vw;
}

.video-preview {
    width: 192px;
    height: 108px;
    display: inline-block;
    position: relative;
}

.video-preview-course {
    width: 364px;
    position: relative;
    float: left;
}

.overlay {
    width: 192px;
    height: 80px;
    position: absolute;
    font-size: 45px;
    text-align: center;
    padding-top: 28px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 255, 255, 0.4);
}

.overlay-course {
    width: 364px;
    height: 148px;
    position: absolute;
    font-size: 90px;
    text-align: center;
    padding-top: 56px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(255, 255, 0, 0.4);
}

.video-preview:hover .overlay {
    opacity: 1;
}

.video-preview-course:hover .overlay-course {
    opacity: 1;
}

div.contact {
    font-family: Helvetica, sans-serif;
    padding-top: 0.4vw;
    text-align: left;
    font-size: 14px;
}

.column {
    float: left;
    width: 310px;
    margin: 0.5vw;
}

.column2 {
    float: left;
    margin: 0.5vw;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 1090px) {
    /* reduced font sizes */
    div.content {
        font-size: 14px;
    }
    div.smalltext {
        font-size: 10px;
    }
    h2 {
        font-size: 32px;
    }
    h2.sub {
        font-size: 14px;
    }
    a.button {
        font-size: 14px;
    }
    button {
        font-size: 14px;
    }
    select, input, textarea, li {
        font-size: 14px;
    }
    button.small {
        width: 120px;
    }
    .column {
        width: 90vw;
    }
    .video-preview {
        width: 176px;
        height: 99px;
    }
    .overlay {
        width: 176px;
        height: 73px;
    }
}
