<div class="content">
  <div class="contact">
    <b>Contact</b>
  </div>
  
  <div class="contact">
    Dr. Jendrik Johannes<br/>
    Grönlander Damm 35 A<br/>
    22145 Hamburg<br/>
    Germany<br/>
  </div>
  
  <div class="contact">
    <i class="fas fa-envelope"></i></i></a> <a href="mailto:jendrik@onepiece.software" title="mail">jendrik@onepiece.software</a><br/>
    <i class="fas fa-phone"></i></i></a> +49 178 5363745
  </div>
  
  <div class="contact">
    Ust-IdNr: DE343201228
  </div>
  
  <h2></h2>

</div>
